$color-black: #010101;
$color-nero: #1C1C1C;
$color-charcoal: #4A4A4A;
$color-gray: #6D6D6D;
$color-gainsboro: #E6E6E6;
$color-white: #fff;

$radius-s: 1em * .25;
$radius-m: 1em * .5;
$radius-l: 1em;

$spacing-s: 1em * .5;
$spacing-m: 1em;
$spacing-l: 1em * 1.5;